<div id="DemoBuilder-profiler" class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="container-fluid">

            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>

            <a class="brand" href="#" title="Informations and tools on the generated demo pages">DemoBuilder Profiler</a>

            <!-- current page info -->
            <div class="nav-collapse collapse">
                <div class="navbar-text pull-right">
                <ul class="nav">
                    <li><a href="#" class="close" onclick="closeProfiler()" title="Close the profiler">&times;</a></li>
                </ul>
                </div>

                <ul class="nav">
                    <li class="dropdown">
                        <div class="btn-group">
                            <a href="#" class="btn btn-info dropdown-toggle" data-toggle="dropdown">DemoBuilder Tools <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="" title="Generated the HTML demo pages of the current package">Generate HTML pages</a></li>
                                <li><a href="" title="Update the current demo page">Update this page</a></li>
                                <li><a href="{{ 'conf'|getBuilderRouteUrl }}" title="Update the DemoBuilder's configuration">Back to configuration page</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <div class="btn-group">
                            <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">Current Configuration <span class="caret"></span></a>
                            <ul class="dropdown-menu">
{% if profiler.config.dir is not empty %}
                                <li><a href="#"><span class="muted">Directory: </span><strong>{{ profiler.config.dir }}</strong></a></li>
{% endif %}
{% if profiler.config.root_dir is not empty %}
                                <li><a href="#"><span class="muted">Root directory: </span><strong>{{ profiler.config.root_dir }}</strong></a></li>
{% endif %}
{% if profiler.config.manifest is not empty %}
                                <li><a href="#"><span class="muted">Manifest file: </span><strong>{{ profiler.config.manifest }}</strong></a></li>
{% endif %}
{% if profiler.config.demo_config is not empty %}
                                <li><a href="#"><span class="muted">Config filename: </span><strong>{{ profiler.config.demo_config }}</strong></a></li>
{% endif %}
{% if profiler.config.template is not empty %}
                                <li><a href="#"><span class="muted">Pages template: </span><strong>{{ profiler.config.template }}</strong></a></li>
{% endif %}
{% if profiler.config.templates_dir is not empty %}
                                <li><a href="#"><span class="muted">Templates directory: </span><strong>{{ profiler.config.templates_dir }}</strong></a></li>
{% endif %}
                                <li class="divider"></li>
                                <li class="dropdown-submenu">
                                    <a href="#">Internal options</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><span class="muted">Cache directory: </span><strong>{{ profiler.config.cache }}</strong></a></li>
                                        <li><a href="#"><span class="muted">Debug mode: </span><strong>{{ profiler.config.debug|getHumanReadableBit }}</strong></a></li>
                                        <li><a href="#"><span class="muted">Language: </span><strong>{{ profiler.config.language }}</strong></a></li>
                                        <li><a href="#"><span class="muted">Charset: </span><strong>{{ profiler.config.charset }}</strong></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="divider-vertical"></li>
                    <li><a href="{{ profiler.package_manifest_url }}"><abbr title="Package manifest file: {{ profiler.package_manifest_path|getSecuredRealPath }}">{{ profiler.package_manifest_name }}</abbr></a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="{{ profiler.root_demo_file_url }}"><abbr title="Root demo's configuration file: {{ profiler.root_demo_file_path|getSecuredRealPath }}">{{ profiler.demo_file_name }}</abbr></a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="#"><abbr title="Current demo page: {{ profiler.page_dir|getSecuredRealPath }}">{{ profiler.page_name }}</abbr></a></li>
{% if profiler.config.page_config_file is not empty %}
                    <li><a href="#">&nbsp;(<abbr title="Demo page config file: {{ profiler.config.page_config_file|getSecuredRealPath }}">{{ profiler.config.page_config_filename }}</abbr>)</a></li>
{% endif %}
                </ul>
            </div>

        </div>
    </div>
</div>
